@import '../../assets//styles/global.scss';

.sidebar{
    display: none;

.nav-items{
    
    width: 17.6875em;
  
    a{
        letter-spacing: 0px;
        text-align: left;
        padding: 1em;
        text-decoration: none;
        color: $base-color;
         svg{
        color: $base-color;
        opacity: 0.6;
        margin-right: 0.5em;
        }
    
    &:hover{
        width: 283px;
        border-radius: 0px;
        background: rgba(57, 205, 204, 1);
        opacity: 0.6;
        padding: 1em;
    }
    &.active{
        color: $base-color;
        background: rgba(57, 205, 204, 1);
        opacity: 0.6;
    }
    &:visited{
        color: $base-color;
    }
    }
 
}
}
@media screen and (min-width: 768px){
    .sidebar{
        display: block;
    position:fixed;
    left:0;
    top: 5em;
    height: 100%;
    margin-bottom: 2em;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
    width: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    .section-head {
        
        margin: 1em;
        svg{
        color: $base-color;
        opacity: 0.6;
        margin-right: 0.5em;
        }
    }
    }
}